@font-face {
  font-family: "BootsAndSpurs";
  src: url("fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
.logo,
.contact_header {
  font-family: "BootsAndSpurs", Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
}
/* Rekkefølgen på de to over gjorde at "guitar kings"-logoen også fikk svart bakgrunn med hvit font*/

nav ul /* <ul> creates auto-padding */ {
  padding: 0px;
}

header nav li {
  display: inline-block;
  padding: 3px;
  margin: 1px;
}

/*Links*/
.current {
  font-weight: bold;
  text-decoration: underline;
}

/*CTA*/
.cta-big {
  background-color: #bb0000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rm;
  border-radius: 5px;
  padding: 10px 85px;
}

.cta-view {
  background-color: #bb0000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 25px;
}

.cta-sale {
  background-color: #127300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
  padding: 8px 30px;
}

.reviews {
  background-color: #e8e8e8;
}

.lightgray-guitarlist {
  background-color: #fbfbfb;
}

footer {
  text-align: center;
}

/* Home page header */
.headerpic {
  background-image: url(/images/home-header.jpg); /*styles.css is in same folder*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  /*Background position helps when dragging window smaller/larger*/
  min-height: 50vh; /* Viewport height */
  position: relative;
}

.headerpic__content {
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
}

.ourgitars_images {
  /*This class is under the class "ourgitars"*/
  border-radius: 100px;
}

.reviews_images {
  /*This class is under the class "reviews"*/
  border-radius: 50%;
}

/* Contact page */

main form div {
  display: inline-block;
}
