@font-face {
  font-family: "BootsAndSpurs";
  src: url("fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto; /*this makes the header, footer and main content correctly gridded */
  min-height: 100vh; /*"as big as the screen is*/
}

h1,
h2,
.logo,
.contact_header {
  font-family: "BootsAndSpurs", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

nav {
  margin-left: 25px;
}

nav ul /* <ul> creates auto-padding */ {
  padding: 0px;
}

header nav li {
  display: inline-block;
  width: 60px;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

/*Links*/
a {
  color: #fff;
  text-decoration: none;
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

.cta-view {
  background-color: #bb0000;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 8px 20px;
  border-radius: 5px;
  grid-row: 2/4; /*makes the cta start in row 2 and end i row 4*/
  grid-column: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

.cta-sale {
  background-color: #127300;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 8px 20px;
  border-radius: 5px;
  grid-row: 2/4;
  grid-column: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

.reviews {
  background-color: #e8e8e8;
}

footer {
  text-align: center;
  padding: 20px;
}

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /*makes the view-button centered within the block and not big anymore*/
}

.products img {
  grid-column: -1/1;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

.products--sale {
  display: flex;
}

.old-price {
  text-decoration: line-through;
}

/* Home page */
.headerpic {
  background-image: url(/images/home-header.jpg); /*styles.css is in same folder*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  /*Background position helps when dragging window smaller/larger*/
  min-height: 50vh; /* Viewport height */
  position: relative;
}

.headerpic__content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.ourgitars {
  /*"selling-points"*/
  margin: 50px auto;
}

.ourgitars,
.reviews__content {
  max-width: 1000px;
  display: flex;
}

.ourgitars > *,
.reviews__content > * {
  flex: 1;
}

.ourgitars__images {
  /*selling-points__images*/
  border-radius: 100px;
  width: 100%; /*Put the image inside a div and set width 100% to enable flex in browsers*/
}

.reviews {
  /* Makes the 'reviews' headline centered */
  text-align: center;
  padding: 50px;
}

.reviews__content {
  text-align: left;
  margin: auto;
}

.reviews__content div {
  margin: 50px;
}

.reviews__images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.reviews__name {
  display: block;
}

.viewourgitars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}

.viewourgitars h2 {
  /*forces the h2 that arent a part of the gitars to not be a part of the grid (column) */
  grid-column: -1/1;
}

.viewourgitars img {
  /* makes the four gitar columns not more than 100% within the fraction (fr)*/
  width: 100%;
}

/* Contact page */

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  width: 100%;
  /* margin: 50 auto; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Product specific page  */
.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}
.product-specific__details {
  padding: 0px 30px;
}
/* .product-specific__details a {
  display: block;
  width: 95.767px;
  margin: auto;
} */

.button-wrapper /* instead of ".product-specific__details a" */ {
  display: flex;
  justify-content: center;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
}

.product-image__thumbnails {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  margin-top: 5px;
}

/*guitars page*/
.guitars {
  max-width: 1000px;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.products img {
  width: 100%;
}
